@import url("https://pro.fontawesome.com/releases/v6.0.0-beta1/css/all.css");
@import url("https://fonts.googleapis.com/css2?family=Exo+2:wght@300;500;700&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  --color: rgba(30, 30, 30);
  --bgColor: rgba(245, 245, 245);
  min-height: 100vh;
  display: grid;
  align-content: center;
  gap: 2rem;
  padding: 2rem;
  font-family: "Exo 2", sans-serif;
  color: var(--color);
  background: var(--bgColor);
}

h1 {
  text-align: center;
}

ol {
  width: min(60rem, 90%);
  margin-inline: auto;

  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 4rem;

  list-style: none;
  counter-reset: stepnr;
}

li:nth-child(6n + 1) {
  --accent-color: #b8df4e;
}
li:nth-child(6n + 2) {
  --accent-color: #4cbccb;
}
li:nth-child(6n + 3) {
  --accent-color: #7197d3;
}
li:nth-child(6n + 4) {
  --accent-color: #ae78cb;
}
li:nth-child(6n + 5) {
  --accent-color: #7dc7a4;
}
li:nth-child(6n + 6) {
  --accent-color: #f078c2;
}

ol li {
  counter-increment: stepnr;
  width: 15rem;
  --borderS: 2rem;
  aspect-ratio: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: calc(var(--borderS) + 2rem);
  position: relative;
}
ol li::before,
ol li::after {
  inset: 0;
  position: absolute;
  border-radius: 50%;
  line-height: 1.1;
}
ol li::before {
  content: counter(stepnr);
  color: var(--accent-color);
  padding-left: 6.5rem;
  font-size: 10rem;
  font-weight: 700;
  overflow: hidden;
}

@keyframes circleFloat {
  0%, 100% { 
    transform: translateY(0) scale(1); 
    border-color: rgba(255, 255, 255, 0.9);
  }
  50% { 
    transform: translateY(-8px) scale(1.03); 
    border-color: #0075aa;
  }
}

ol li::after {
  content: "";
  border: var(--borderS) solid rgba(255, 255, 255, 0.9);
  filter: drop-shadow(-0.25rem 0.25rem 0.0675rem rgba(0, 0, 0, 0.75)) blur(5px);
  animation: circleFloat 6s ease-in-out infinite;
  z-index: -1;
}

ol li > * {
  width: 3.5rem;
}
ol li .icon {
  font-size: 4rem;
  color: var(--accent-color);
  text-align: center;
}
ol li .title {
  font-size: 1rem;
  font-weight: 600;
  margin-left:1px;
  color: var(--accent-color);

}
ol li .descr {
  font-size: 0.8rem;
  font-weight: 300;
}

.credits {
  margin-top: 2rem;
  text-align: left;
}
.credits a {
  color: var(--color);
}
